
# Python virtual environment
/api/venv/

/api/.env

api/src/models/__pycache__/
api/src/services/__pycache__/
api/src/routers/__pycache__/
api/src/schemas/__pycache__/
api/src/__pycache__/
*.pyc

.idea/
.vscode/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local